*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}



a{
    text-decoration: none;
}


body{
    font-family: "Microsoft Yahei";
    color: #333;
    font-size: 1em;
}

/*index开始*/
.head{
    width: 100%;
    height: 100px;
    line-height:100px;
    color: #fff;
    background: #d3262c;
    font-size: 2.125em;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    text-indent:3em;
}
.head a.back{
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 29px;
    background: url("../images/commonImg.png") no-repeat -228px -66px;
}
.head a.menuBtn{
    right: 20px !important;
    background: url("../images/commonImg.png") no-repeat -54px -66px;
}
.head .menu{
    width: 380px;
    position: absolute;
    top: 100px;
    right: 20px;

    background: #d3262c;
    box-shadow: 0px 6px 12px #999;
    z-index: 25;
    display: none;
}
.head .menu ul li{
    height: 100px;
    border-top: 1px solid #b71016;
}
.head .menu ul li i{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 25px;
    margin-left: 25px;

}
.head .menu ul li a{
    display: block;
    width: 70%;
    height: 100%;
    text-indent: 0;
    float: right;
    color: #fff;
    overflow: hidden;
}
.nav{
    width: 100%;
    height: 96px;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 6;
}

.nav ul li{
    width: 25%;
    height:96px;
    line-height: 96px;
    text-align: center;
    float: left;
    font-size: 1.875em;
    background: #fff;
}
.nav ul li.active{
    color:#d3262c;
 }
.line{
    width: 25%;
    border-bottom: 2px solid #d3262c;
    position: absolute;
    bottom: 0;
    left: 0px;
}







.content{
    margin-top: 196px;
}
.index_content1 .img{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.index_content1 .img .shadowCon{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    background: rgba(3,3,3,0.7);
}
.index_content1 .img .shadowCon .webName{
    max-width: 60%;
    height: 90px;
    line-height: 90px;
    float: left;
    font-size: 1.75em;
    color: #fff;
    text-indent: 24px;
    overflow: hidden;
}
.index_content1 .img .shadowCon .timeCon{
    line-height: 90px;
    color: #fff;
    float: right;
    font-size: 1.5em;
}

.index_content1 .img .shadowCon .timeCon .count{
    width: 100px;
    height: 90px;
    float: left;
    text-align: right;
    overflow: hidden;
}


.index_content1 .img .shadowCon .timeCon .count:before{
    content: "";
    display: block;
    float: left;
    width: 35px;
    height: 25px;
    margin-top:32px;
    margin-left: 12px;
    background: url("../images/commonImg.png") no-repeat -333px -75px;
}
.index_content1 .img .shadowCon .timeCon span{
    float: left;
}
.index_content1 .img .shadowCon .timeCon .time{
    width: 150px;
    height: 90px;
    float: right;
    text-align: center;
    overflow: hidden;
}
.index_content2{
    margin-top: 20px;
}

.footer{
    float: left;
    width: 100%;
    height: 95px;
    line-height: 95px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #c8c8c8;
    background: #f6f6f6;
    font-size: 2.125em;
    color: #333;
    text-indent: 1.5em;
}

.footer a.phoneBtn{
    display: block;
    width: 108px;
    height: 100%;
    background: #333  url("../images/commonImg.png") no-repeat -32px -158px;
    float: left;
}

.footer a.number{
    color: #333;
}
  a.caseBtn{
    display: block;
    width: 85px;
    height: 85px;
    padding: 20px;
    border-radius: 100px;
    position: fixed;
    bottom: 30px;
    right: 33px;
    background: #d3262c;
    border: 7px solid #f8dfe0;
    font-size: 2.125em;
    color: #fff;
    text-align: center;
}

.banner{
    text-align: center;
}
/*index结束*/




/*caseDetail开始*/
.text{
    font-size: 1.45em;
    margin-top: 40px;
}

.text p{
    background: #f0f1f3;
    padding:12px  20px;
    line-height: 55px;
}
.text label{
    display: block;
    max-height: 135px;
    line-height: 45px;
    margin-top: 20px;
    overflow: hidden;
}
.text label i{
    display: block;
    width: 29px;
    height: 29px;
    float: left;
    margin-top: 4px;
    margin-right: 9px;
}
.text label span{
    color: #999;
}

.imgCon{
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
}

.websit{
    min-height: 145px;
    padding: 20px 25px;
    font-size: 1.33em;
    border-top: 3px solid #e5e5e5;
    border-bottom:3px solid #e5e5e5;
}
/*caseDetail结束*/










/*caseDetail2开始*/


.two-dimension{
    width: 370px;
    margin: 45px auto;
}

.two-dimension .left,
.two-dimension .right{
    width: 150px;
}
.two-dimension .left .img,
.two-dimension .right .img{
    height: 150px;
    background: url("../images/erweima.png") no-repeat center;
}
.two-dimension p{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 1.25em;
}
.two-dimension p i{
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}

/*caseDetail结束*/



/*companyIntro开始*/

.text label span.title{
    color: #e4797d;
}
.company_container .text{
    margin: 40px 0;
}
/*companyIntro结束*/




.textImg{
    height: 260px;
    background: url("../images/text.png") no-repeat 70% center;
}
 

/*index开始*/
.index_content{

}
.index_content .imgList{
    height: 517px;
    overflow: hidden;
    margin-bottom: 60px;
}


.index_content .textCon h1{
    font-size: 1.875em;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.index_content .textCon label{
    display: block;
    font-size: 1.25em;
    color: #d3262c;
    text-align: center;
}


.developList{
    margin-top: 55px;
}
.developList .develop{
    width: 29.7%;
    float: left;
    margin-left:43px;
    height:425px;
    overflow: hidden;
}





.developList .develop:first-child{
    margin-left: 0;
}




.developList .develop .img{
    width: 150px;
    height: 150px;
    border: 3px solid #d4292e;
    border-radius: 150px;
    margin: 0 auto;
}
.developList .develop  .img1{
    background: url('../images/phone1.png') no-repeat center;
    transition:all 1s ease;

}
.developList .develop  .img2{
    background: url('../images/phone2.png') no-repeat center;
    transition:all 1s ease;
}
.developList .develop  .img3{
    background: url('../images/phone3.png') no-repeat center;
    transition:all 1s ease;
}


.developList .develop .text h2{
    height: 49px;
    font-size: 1.45em;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
}
.developList .develop .text p{
    line-height: 35px;
    font-size: 1.15em;
    text-align: center;
    color: #999;
    background: #fff;
}
.developList .develop:hover{
    color: #d3262c;
}
.developList .develop:hover p{
    color: #d3262c;

}
.developList .develop:hover .img1{
    background: #d3262c url("../images/phone4.png") no-repeat center;
}
.developList .develop:hover .img2{
    background: #d3262c url("../images/phone5.png") no-repeat center;
}
.developList .develop:hover .img3{
    background: #d3262c url("../images/phone6.png") no-repeat center;
}
.index_content .introList{
    margin-top: 40px;
    padding-bottom: 100px;
 }
.index_content .introList .intro{
    padding: 20px 25px 0;
  }
.index_content .introList .left{
    background: url("../images/leftLine.png") no-repeat left 3px;
}
.index_content .introList .right{
    background: url("../images/rightLine.png") no-repeat right 3px;
}
.index_content .introList .intro .img{
    width: 90px;
    height:130px;
 }
.index_content .introList .intro .introText{
    width:84%;
    height: 130px;
}
.index_content .introList .intro .introText h1{
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    font-size: 1.875em;
}





.index_content .introList .intro .introText p{
    max-height:114px;
    line-height: 28px;
    font-size: 1.5em;
    color: #666;
    overflow: hidden;
}


.index_content .introList .left .img{
    float: left;

}
.index_content .introList .left .introText{
    float: right;
}








.index_content .introList .left .introText h1{
    text-align: left;
}
.index_content .introList .right .introText h1{
    text-align: right;
}
.index_content .introList .right .img{
    float: right;
}
.index_content .introList .right .introText{
    width:84%;
    height: 169px;
    float: left;
}
/*index结束*/