<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    
    <link rel="stylesheet" href="css/styleht.css"/>
    <title>Document</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>


    <style type="text/css">
        .po{
            color: red;
        }
        .activity{
            color: green;
        }
    </style>


</head>
<body>
    <div class="wwwuuu">
        <div id="app">
            
            <input type="text" v-model="searchName">

            <UL>
                <li v-for="(p ,index) in filterPersons  " :key="index">
                    {{index}}==>{{p.name}}==>{{p.age}}
                </li>
            </UL>

        </div>
    </div>
    
        
    </div>
</body>
</html>

<script type="text/javascript">
    
new Vue({
    el:"#app",
    // template:'<div>  <p class="po" v-bind:class="{activity:isRed}">分局分局回房              间分局急急急</p> <button v-on:click="changeColor">bind绑定 </button> </div>',
    data: {
        // body...
        person:[
        {name:"Tom1",age:18},
         {name:"Tom2",age:20},
          {name:"Tom3",age:16},
        ],
        searchName:'',  
    },
    computed:{
        filterPersons(){
            const{
                searchName,person,
            
        }=this
    }
    methods:{
        changeColor(){
            console.log("aaaaa"+this);
            this.isRed=!this.isRed;
        }
    }

    
})


</script>
